<%- include('templates/header.ejs', {
    title: "ERROR 404",
    description: "Something's gone wrong"
}) %>

<main>
    <button></button>
    <button></button>
</main>

<%- include('templates/footer.ejs') %>