<nav>
    <ul class="navbar">
        <li class="navitem"><a href="/">Home</a></li>
        <li class="navitem"><a href="/admin">Control Panel</a></li>
        <li class="navitem"><a href="/createaccount">Create Account</a></li>
        <li class="navitem"><a href="/login">Log In</a></li>
        <li class="navitem"><a href="/contact">Contact</a></li>
    </ul>
</nav>