<section>
    <input type="text" placeholder="Search For Blog Post:">
    <button type="submit" class="btn">Search</button>
    <% if(user) { %>
    <button class="btn"><a href="/admin/createpost">Create Blog Post</a></button>
    <% } %>
</section>